#nav-bar
{
    position: sticky;
    top: 0;
    z-index: 10;
}
.navbar-brand img
{
    height: 60;
    padding-left: 0px;
} 

.navbar-nav li
{
    padding: 10px;
}
.navbar-nav li a
{
    float: right;
    text-align: left;
}
#nav-bar ul li a:hover
{
    color: #c300ff85!important;
} 
.navbar
{
    background: #fff;
}
.navbar-toggler
{
    border: none!important
}
.nav-link
{
    color: #fff!important;
    font-weight: 600;
    font-size: 16px;
}
#carousel
{
    width: 100%;
}
.carousel-caption
{
    top: 85%;
    transform: translateY(-50%);
    bottom: initial!important;
}
.carousel-caption h5
{
    color:rgb(231, 224, 231);
    font-size: 40px;
}
#About
{
    padding-top: 100px;
    padding-bottom: 50px;
    color: #555;
}
#About .btn
{

    margin-top: 30px;
    margin-bottom: 30px;
}
.about-content
{
    padding-top: 50px;

}
#blog
{
    background-image: linear-gradient(rgba(0,0,0),rgba(0,0,0)),url(image/2.jpg);
    background-size: cover;
    background-position: center;
    color: #efefef!important;
    background-attachment: fixed;
    padding-top: 50px;
    padding-bottom: 50px;
}
#blog h1
{
    text-align: center;
    color: #efefef!important;
    padding-bottom: 10px;
}
#blog h1::after
{
    content: '';
    background: #efefef;
    display: block;
    height: 3px;
    width: 170px;
    margin: 20px auto 5px;
}
.blog
{
    margin-top: 40px;
}
.card
{
    text-align: center;
    color: #201818!important;
}
#Contact
{
    text-align: center;
    color: black!important;
    padding-bottom: 10px;
}
#Contact h1::after
{
    content: '';
    background: #070707;
    display: block;
    height: 3px;
    width: 160px;
    margin: 10px auto 5px;
}
#Contact
{
    background: #efefef;
    padding-top: 40px;
    padding-bottom: 40px;
    color: #777;
    
}
.contact-form
{
    padding: 15px;

}
.form-control
{
    border-radius: 0!important;
    border: none!important;
}
::placeholder
{
    color: #999 !important;

}
.follow
{
    background: #fff;
    padding: 5px;
    margin: 1px;
}
.container
{
    color: rgb(63, 60, 60) !important;
}

